<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.hsp.mapper.TblHsmKeyMapper">
    <resultMap id="BaseResultMap" type="com.allinfinance.dev.hsp.model.TblHsmKey">
        <id column="KEY_ID" jdbcType="INTEGER" property="keyId"/>
        <result column="KEY_INDEX" jdbcType="VARCHAR" property="keyIndex"/>
        <result column="KEY_VALUE" jdbcType="VARCHAR" property="keyValue"/>
        <result column="KEY_KCV" jdbcType="VARCHAR" property="keyKcv"/>
        <result column="ZMK_INDEX" jdbcType="VARCHAR" property="zmkIndex"/>
        <result column="ZMK_KCV" jdbcType="VARCHAR" property="zmkKcv"/>
    </resultMap>
    <sql id="Base_Column_List">
        KEY_ID
        , KEY_INDEX, KEY_VALUE, KEY_KCV, ZMK_INDEX, ZMK_KCV
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_HSM_KEY
        where KEY_ID = #{keyId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from TBL_HSM_KEY
        where KEY_ID = #{keyId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.allinfinance.dev.hsp.model.TblHsmKey">
        insert into TBL_HSM_KEY (KEY_ID, KEY_INDEX, KEY_VALUE,
                                 KEY_KCV, ZMK_INDEX, ZMK_KCV)
        values (#{keyId,jdbcType=INTEGER}, #{keyIndex,jdbcType=VARCHAR}, #{keyValue,jdbcType=VARCHAR},
                #{keyKcv,jdbcType=VARCHAR}, #{zmkIndex,jdbcType=VARCHAR}, #{zmkKcv,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.allinfinance.dev.hsp.model.TblHsmKey">
        insert into TBL_HSM_KEY
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="keyId != null">
                KEY_ID,
            </if>
            <if test="keyIndex != null">
                KEY_INDEX,
            </if>
            <if test="keyValue != null">
                KEY_VALUE,
            </if>
            <if test="keyKcv != null">
                KEY_KCV,
            </if>
            <if test="zmkIndex != null">
                ZMK_INDEX,
            </if>
            <if test="zmkKcv != null">
                ZMK_KCV,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="keyId != null">
                #{keyId,jdbcType=INTEGER},
            </if>
            <if test="keyIndex != null">
                #{keyIndex,jdbcType=VARCHAR},
            </if>
            <if test="keyValue != null">
                #{keyValue,jdbcType=VARCHAR},
            </if>
            <if test="keyKcv != null">
                #{keyKcv,jdbcType=VARCHAR},
            </if>
            <if test="zmkIndex != null">
                #{zmkIndex,jdbcType=VARCHAR},
            </if>
            <if test="zmkKcv != null">
                #{zmkKcv,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.allinfinance.dev.hsp.model.TblHsmKey">
        update TBL_HSM_KEY
        <set>
            <if test="keyIndex != null">
                KEY_INDEX = #{keyIndex,jdbcType=VARCHAR},
            </if>
            <if test="keyValue != null">
                KEY_VALUE = #{keyValue,jdbcType=VARCHAR},
            </if>
            <if test="keyKcv != null">
                KEY_KCV = #{keyKcv,jdbcType=VARCHAR},
            </if>
            <if test="zmkIndex != null">
                ZMK_INDEX = #{zmkIndex,jdbcType=VARCHAR},
            </if>
            <if test="zmkKcv != null">
                ZMK_KCV = #{zmkKcv,jdbcType=VARCHAR},
            </if>
        </set>
        where KEY_ID = #{keyId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.allinfinance.dev.hsp.model.TblHsmKey">
        update TBL_HSM_KEY
        set KEY_INDEX = #{keyIndex,jdbcType=VARCHAR},
            KEY_VALUE = #{keyValue,jdbcType=VARCHAR},
            KEY_KCV   = #{keyKcv,jdbcType=VARCHAR},
            ZMK_INDEX = #{zmkIndex,jdbcType=VARCHAR},
            ZMK_KCV   = #{zmkKcv,jdbcType=VARCHAR}
        where KEY_ID = #{keyId,jdbcType=INTEGER}
    </update>
</mapper>