<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--
    说明：
        1. 文件的命名和加载顺序有关
           logback.xml早于application.yml加载，logback-spring.xml晚于application.yml加载
           如果logback配置需要使用application.yml中的属性，需要命名为logback-spring.xml
        2. logback使用application.yml中的属性
           使用springProperty才可使用application.yml中的值 可以设置默认值
    -->
    <!-- 通用参数配置 -->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="LOG_HOME" source="dev-ccp.log.base-path"
                    defaultValue="${HOME}/logs/${APP_NAME}/"/>
    <springProperty scope="context" name="LOG_LEVEL" source="dev-ccp.log.level" defaultValue="info"/>

    <!-- 文件输出 -->
    <appender name="CCP-HTTP-ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<Encoding>UTF-8</Encoding>-->
        <file>${LOG_HOME}/dev-http-ccp.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/dev-http-ccp.log.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="CCP-TCP-ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<Encoding>UTF-8</Encoding>-->
        <file>${LOG_HOME}/dev-tcp-ccp.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/dev-tcp-ccp.log.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 控制台输出 -->
    <appender name="CCP-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <level>info</level>
        </filter>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--开发环境配置-->
    <springProfile name="dev">
        <logger name="com.allinfinance" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-CONSOLE"/>
        </logger>
        <logger name="com.alipay.sofa" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-CONSOLE"/>
        </logger>

        <logger name="java.sql" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-CONSOLE"/>
        </logger>

        <root level="${LOG_LEVEL}">
            <appender-ref ref="CCP-CONSOLE"/>
        </root>
    </springProfile>


    <!--sit环境配置-->
    <springProfile name="sit">
        <!--写到TCP日志文件-->
        <logger name="com.allinfinance.dev.ccp.service.SocketClientServiceImpl" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-TCP-ALL"/>
        </logger>

        <logger name="com.allinfinance.dev.core.util.socket" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-TCP-ALL"/>
        </logger>

        <!--写到HTTP日志文件-->
        <logger name="com.allinfinance.dev.ccp.service.HttpClientServiceImpl" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-HTTP-ALL"/>
        </logger>

        <root level="${LOG_LEVEL}">
            <appender-ref ref="CCP-HTTP-ALL"/>
            <appender-ref ref="CCP-TCP-ALL"/>
        </root>
    </springProfile>

    <!--uat环境配置-->
    <springProfile name="uat">
        <!--写到TCP日志文件-->
        <logger name="com.allinfinance.dev.ccp.service.SocketClientServiceImpl" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-TCP-ALL"/>
        </logger>

        <logger name="com.allinfinance.dev.core.util.socket" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-TCP-ALL"/>
        </logger>

        <!--写到HTTP日志文件-->
        <logger name="com.allinfinance.dev.ccp.service.HttpClientServiceImpl" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-HTTP-ALL"/>
        </logger>

        <root level="${LOG_LEVEL}">
            <appender-ref ref="CCP-HTTP-ALL"/>
            <appender-ref ref="CCP-TCP-ALL"/>
        </root>
    </springProfile>

    <!--生产环境配置-->
    <springProfile name="prod">
        <!--写到TCP日志文件-->
        <logger name="com.allinfinance.dev.ccp.service.SocketClientServiceImpl" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-TCP-ALL"/>
        </logger>

        <logger name="com.allinfinance.dev.core.util.socket" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-TCP-ALL"/>
        </logger>

        <!--写到HTTP日志文件-->
        <logger name="com.allinfinance.dev.ccp.service.HttpClientServiceImpl" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="CCP-HTTP-ALL"/>
        </logger>

        <root level="${LOG_LEVEL}">
            <appender-ref ref="CCP-HTTP-ALL"/>
            <appender-ref ref="CCP-TCP-ALL"/>
        </root>
    </springProfile>
</configuration>
