<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.batch.dao.mapper.JobExecutionMapper">
  <resultMap id="BaseResultMap" type="com.allinfinance.dev.batch.dao.model.JobExecution">
    <id column="job_execution_id" jdbcType="BIGINT" property="jobExecutionId" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="job_instance_id" jdbcType="BIGINT" property="jobInstanceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="exit_code" jdbcType="VARCHAR" property="exitCode" />
    <result column="exit_message" jdbcType="VARCHAR" property="exitMessage" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
    <result column="job_configuration_location" jdbcType="VARCHAR" property="jobConfigurationLocation" />
  </resultMap>
  <sql id="Base_Column_List">
    job_execution_id, version, job_instance_id, create_time, start_time, end_time, "status", 
    exit_code, exit_message, last_updated, job_configuration_location
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "batch_job_execution"
    where job_execution_id = #{jobExecutionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from "batch_job_execution"
    where job_execution_id = #{jobExecutionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="job_execution_id" keyProperty="jobExecutionId" parameterType="com.allinfinance.dev.batch.dao.model.JobExecution" useGeneratedKeys="true">
    insert into "batch_job_execution" (version, job_instance_id, create_time, 
      start_time, end_time, "status", 
      exit_code, exit_message, last_updated, 
      job_configuration_location)
    values (#{version,jdbcType=BIGINT}, #{jobInstanceId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{exitCode,jdbcType=VARCHAR}, #{exitMessage,jdbcType=VARCHAR}, #{lastUpdated,jdbcType=TIMESTAMP}, 
      #{jobConfigurationLocation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="job_execution_id" keyProperty="jobExecutionId" parameterType="com.allinfinance.dev.batch.dao.model.JobExecution" useGeneratedKeys="true">
    insert into "batch_job_execution"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="version != null">
        version,
      </if>
      <if test="jobInstanceId != null">
        job_instance_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="status != null">
        "status",
      </if>
      <if test="exitCode != null">
        exit_code,
      </if>
      <if test="exitMessage != null">
        exit_message,
      </if>
      <if test="lastUpdated != null">
        last_updated,
      </if>
      <if test="jobConfigurationLocation != null">
        job_configuration_location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="jobInstanceId != null">
        #{jobInstanceId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="exitCode != null">
        #{exitCode,jdbcType=VARCHAR},
      </if>
      <if test="exitMessage != null">
        #{exitMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null">
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="jobConfigurationLocation != null">
        #{jobConfigurationLocation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.allinfinance.dev.batch.dao.model.JobExecution">
    update "batch_job_execution"
    <set>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="jobInstanceId != null">
        job_instance_id = #{jobInstanceId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        "status" = #{status,jdbcType=VARCHAR},
      </if>
      <if test="exitCode != null">
        exit_code = #{exitCode,jdbcType=VARCHAR},
      </if>
      <if test="exitMessage != null">
        exit_message = #{exitMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null">
        last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="jobConfigurationLocation != null">
        job_configuration_location = #{jobConfigurationLocation,jdbcType=VARCHAR},
      </if>
    </set>
    where job_execution_id = #{jobExecutionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allinfinance.dev.batch.dao.model.JobExecution">
    update "batch_job_execution"
    set version = #{version,jdbcType=BIGINT},
      job_instance_id = #{jobInstanceId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      "status" = #{status,jdbcType=VARCHAR},
      exit_code = #{exitCode,jdbcType=VARCHAR},
      exit_message = #{exitMessage,jdbcType=VARCHAR},
      last_updated = #{lastUpdated,jdbcType=TIMESTAMP},
      job_configuration_location = #{jobConfigurationLocation,jdbcType=VARCHAR}
    where job_execution_id = #{jobExecutionId,jdbcType=BIGINT}
  </update>
  <update id="deleteCompletedJobExecution">
    update BATCH_JOB_EXECUTION
    set status = 'DONE'
    where job_execution_id = #{jobExecutionId}
  </update>
</mapper>