<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblApiPermissionInfoMapper">
    <!-- 通过url 获取API权限代码-->
    <select id="selectByRequestUrl" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_API_PERMISSION_INFO
        where URL = #{url,jdbcType=VARCHAR}
    </select>
</mapper>