<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblMenuAuthMapper">
  <resultMap id="BaseResultMap" type="com.allinfinance.dev.ccs.dal.model.TblMenuAuth">
    <result column="auth_id" jdbcType="VARCHAR" property="authId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="is_available" jdbcType="VARCHAR" property="isAvailable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="reserved_field1" jdbcType="VARCHAR" property="reservedField1" />
    <result column="reserved_field2" jdbcType="VARCHAR" property="reservedField2" />
    <result column="reserved_field3" jdbcType="VARCHAR" property="reservedField3" />
  </resultMap>
  <insert id="insert" parameterType="com.allinfinance.dev.ccs.dal.model.TblMenuAuth">
    insert into TBL_MENU_AUTH (auth_id, menu_id, is_available, 
      create_time, create_by, update_time, 
      update_by, reserved_field1, reserved_field2, 
      reserved_field3)
    values (#{authId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{isAvailable,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{reservedField1,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, 
      #{reservedField3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblMenuAuth">
    insert into TBL_MENU_AUTH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        auth_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="isAvailable != null">
        is_available,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="reservedField1 != null">
        reserved_field1,
      </if>
      <if test="reservedField2 != null">
        reserved_field2,
      </if>
      <if test="reservedField3 != null">
        reserved_field3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        #{authId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null">
        #{isAvailable,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null">
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null">
        #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null">
        #{reservedField3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>