<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblMenuAuthMapper">
    <select id="selectBatchIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_MENU_AUTH
        where AUTH_ID in
        <foreach close=")" collection="authIds" index="index" item="authId" open="(" separator=",">
            #{authId}
        </foreach>
    </select>
</mapper>