<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblMenuMapper">
    <!--自定义SQL-->
    <select id="selectMaxMenuIdByRoot" parameterType="com.allinfinance.dev.ccs.dal.model.TblMenu"
            resultType="java.lang.String">
    select max(MENU_ID) from TBL_MENU where PARENT_MID is NULL
    </select>

    <select id="selectMaxMenuId" parameterType="com.allinfinance.dev.ccs.dal.model.TblMenu"
            resultType="java.lang.String">
     select max(MENU_ID) from TBL_MENU where PARENT_MID = #{parentMid,jdbcType=VARCHAR}
    </select>
</mapper>