<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblRoleAuthMapper">
    <select id="selectByRoleId" parameterType="com.allinfinance.dev.ccs.dal.model.TblRoleAuthKey"
            resultMap="BaseResultMap">
        select ROLE_ID,
               ROLEAUTH.AUTH_ID,
               ROLEAUTH.UPDATE_TIME,
               ROLEAUTH.UPDATE_BY,
               ROLEAUTH.RESERVED_FIELD1,
               ROLEAUTH.RESERVED_FIELD2,
               ROLEAUTH.RESERVED_FIELD3
        from TBL_ROLE_AUTH ROLEAUTH
                 LEFT JOIN TBL_AUTH AUTH ON AUTH.AUTH_ID = ROLEAUTH.AUTH_ID
        where ROLE_ID = #{roleId,jdbcType=INTEGER}
          AND AUTH.IS_AVAILABLE = 'Y'
    </select>
</mapper>