<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblRolePermissionInfoMapper">
  <resultMap id="BaseResultMap" type="com.allinfinance.dev.ccs.dal.model.TblRolePermissionInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="PERMISSIONCODE" jdbcType="VARCHAR" property="permissioncode" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_ID, PERMISSIONCODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_ROLE_PERMISSION_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getRolePermissionInfByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from TBL_ROLE_PERMISSION_INFO
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </select>
<select id="getRoleIdByPermissionCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    ROLE_ID
    from TBL_ROLE_PERMISSION_INFO
    where PERMISSIONCODE = #{permissioncode,jdbcType=VARCHAR} group by ROLE_ID
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TBL_ROLE_PERMISSION_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.allinfinance.dev.ccs.dal.model.TblRolePermissionInfo">
    insert into TBL_ROLE_PERMISSION_INFO (ID, ROLE_ID, PERMISSIONCODE
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{permissioncode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblRolePermissionInfo">
    insert into TBL_ROLE_PERMISSION_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="permissioncode != null">
        PERMISSIONCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="permissioncode != null">
        #{permissioncode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblRolePermissionInfo">
    update TBL_ROLE_PERMISSION_INFO
    <set>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="permissioncode != null">
        PERMISSIONCODE = #{permissioncode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allinfinance.dev.ccs.dal.model.TblRolePermissionInfo">
    update TBL_ROLE_PERMISSION_INFO
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      PERMISSIONCODE = #{permissioncode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="deleteRolePermissionInfoByRoleId" parameterType="java.lang.String">
    delete from TBL_ROLE_PERMISSION_INFO
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
</mapper>