<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblUserMapper">
  <resultMap id="BaseResultMap" type="com.allinfinance.dev.ccs.dal.model.TblUser">
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_PASS" jdbcType="VARCHAR" property="userPass" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ORG" jdbcType="VARCHAR" property="org" />
    <result column="BRANCH_ID" jdbcType="VARCHAR" property="branchId" />
    <result column="BANK_ID" jdbcType="VARCHAR" property="bankId" />
    <result column="MERCHANT" jdbcType="VARCHAR" property="merchant" />
    <result column="IS_AVAILABLE" jdbcType="VARCHAR" property="isAvailable" />
    <result column="INIT_PASS" jdbcType="VARCHAR" property="initPass" />
    <result column="ERROR_NUM" jdbcType="INTEGER" property="errorNum" />
    <result column="PASS_STATUS" jdbcType="VARCHAR" property="passStatus" />
    <result column="LAST_PASS_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastPassUpdateTime" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="RESERVED_FIELD1" jdbcType="VARCHAR" property="reservedField1" />
    <result column="RESERVED_FIELD2" jdbcType="VARCHAR" property="reservedField2" />
    <result column="RESERVED_FIELD3" jdbcType="VARCHAR" property="reservedField3" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, USER_NAME, USER_PASS, ROLE_ID, ORG, BRANCH_ID, BANK_ID, MERCHANT, IS_AVAILABLE, 
    INIT_PASS, ERROR_NUM, PASS_STATUS, LAST_PASS_UPDATE_TIME, SALT, CREATE_BY, CREATE_TIME, 
    UPDATE_TIME, UPDATE_BY, RESERVED_FIELD1, RESERVED_FIELD2, RESERVED_FIELD3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_USER
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <select id="pageSelectUsers" parameterType="com.allinfinance.dev.ccs.dal.paramvo.UserReqParam" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from TBL_USER where 1=1
    <if test="userReqParam!=null">
      <if test="userReqParam.userName!=null and userReqParam.userName!='' ">
        and user_Name like '%${userReqParam.userName}%'
      </if>
      <if test="userReqParam.roleId!=null">
        and role_Id = #{userReqParam.roleId}
      </if>
      <if test="userReqParam.isAvailable!=null">
        and IS_AVAILABLE = #{userReqParam.isAvailable}
      </if>
    </if>
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update TBL_USER
    SET
        IS_AVAILABLE = 0
    WHERE
        USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.allinfinance.dev.ccs.dal.model.TblUser">
    insert into TBL_USER (USER_ID, USER_NAME, USER_PASS, 
      ROLE_ID, ORG, BRANCH_ID, 
      BANK_ID, MERCHANT, IS_AVAILABLE, 
      INIT_PASS, ERROR_NUM, PASS_STATUS, 
      LAST_PASS_UPDATE_TIME, SALT, CREATE_BY, 
      CREATE_TIME, UPDATE_TIME, UPDATE_BY, 
      RESERVED_FIELD1, RESERVED_FIELD2, RESERVED_FIELD3
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPass,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR}, #{branchId,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=VARCHAR}, #{merchant,jdbcType=VARCHAR}, #{isAvailable,jdbcType=VARCHAR}, 
      #{initPass,jdbcType=VARCHAR}, #{errorNum,jdbcType=INTEGER}, #{passStatus,jdbcType=VARCHAR}, 
      #{lastPassUpdateTime,jdbcType=TIMESTAMP}, #{salt,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{reservedField1,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, #{reservedField3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblUser">
    insert into TBL_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userPass != null">
        USER_PASS,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="org != null">
        ORG,
      </if>
      <if test="branchId != null">
        BRANCH_ID,
      </if>
      <if test="bankId != null">
        BANK_ID,
      </if>
      <if test="merchant != null">
        MERCHANT,
      </if>
      <if test="isAvailable != null">
        IS_AVAILABLE,
      </if>
      <if test="initPass != null">
        INIT_PASS,
      </if>
      <if test="errorNum != null">
        ERROR_NUM,
      </if>
      <if test="passStatus != null">
        PASS_STATUS,
      </if>
      <if test="lastPassUpdateTime != null">
        LAST_PASS_UPDATE_TIME,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="reservedField1 != null">
        RESERVED_FIELD1,
      </if>
      <if test="reservedField2 != null">
        RESERVED_FIELD2,
      </if>
      <if test="reservedField3 != null">
        RESERVED_FIELD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        #{org,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null">
        #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null">
        #{isAvailable,jdbcType=VARCHAR},
      </if>
      <if test="initPass != null">
        #{initPass,jdbcType=VARCHAR},
      </if>
      <if test="errorNum != null">
        #{errorNum,jdbcType=INTEGER},
      </if>
      <if test="passStatus != null">
        #{passStatus,jdbcType=VARCHAR},
      </if>
      <if test="lastPassUpdateTime != null">
        #{lastPassUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null">
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null">
        #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null">
        #{reservedField3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblUser">
    update TBL_USER
    <set>
      <if test="userName != null and userName != ''">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null and userPass != ''">
        USER_PASS = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null and roleId != ''">
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="org != null and org != ''">
        ORG = #{org,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null and branchId != ''">
        BRANCH_ID = #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null and bankId != ''">
        BANK_ID = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="merchant != null and merchant != ''">
        MERCHANT = #{merchant,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null and isAvailable != ''">
        IS_AVAILABLE = #{isAvailable,jdbcType=VARCHAR},
      </if>
      <if test="initPass != null and initPass != ''">
        INIT_PASS = #{initPass,jdbcType=VARCHAR},
      </if>
      <if test="errorNum != null and errorNum != ''">
        ERROR_NUM = #{errorNum,jdbcType=INTEGER},
      </if>
      <if test="passStatus != null and passStatus != ''">
        PASS_STATUS = #{passStatus,jdbcType=VARCHAR},
      </if>
      <if test="lastPassUpdateTime != lastPassUpdateTime ">
        LAST_PASS_UPDATE_TIME = #{lastPassUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salt != null and salt != ''">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null and createBy != ''">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null and updateBy != ''">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null and reservedField1 != ''">
        RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null and reservedField2 != ''">
        RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null and reservedField3 != ''">
        RESERVED_FIELD3 = #{reservedField3,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allinfinance.dev.ccs.dal.model.TblUser">
    update TBL_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASS = #{userPass,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=VARCHAR},
      ORG = #{org,jdbcType=VARCHAR},
      BRANCH_ID = #{branchId,jdbcType=VARCHAR},
      BANK_ID = #{bankId,jdbcType=VARCHAR},
      MERCHANT = #{merchant,jdbcType=VARCHAR},
      IS_AVAILABLE = #{isAvailable,jdbcType=VARCHAR},
      INIT_PASS = #{initPass,jdbcType=VARCHAR},
      ERROR_NUM = #{errorNum,jdbcType=INTEGER},
      PASS_STATUS = #{passStatus,jdbcType=VARCHAR},
      LAST_PASS_UPDATE_TIME = #{lastPassUpdateTime,jdbcType=TIMESTAMP},
      SALT = #{salt,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
      RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      RESERVED_FIELD3 = #{reservedField3,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>

</mapper>