<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblUserMapper">
    <resultMap id="BaseResultMap" type="com.allinfinance.dev.ccs.dal.model.TblUser">
        <id column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="USER_PASS" jdbcType="VARCHAR" property="userPass"/>
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
        <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo"/>
        <result column="ORG" jdbcType="VARCHAR" property="org"/>
        <result column="IS_AVAILABLE" jdbcType="VARCHAR" property="isAvailable"/>
        <result column="INIT_PASS" jdbcType="VARCHAR" property="initPass"/>
        <result column="ERROR_NUM" jdbcType="VARCHAR" property="errorNum"/>
        <result column="PASS_STATUS" jdbcType="VARCHAR" property="passStatus"/>
        <result column="LAST_PASS_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastPassUpdateTime"/>
        <result column="RESERVED_FIELD4" jdbcType="VARCHAR" property="reservedField4"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="RESERVED_FIELD1" jdbcType="VARCHAR" property="reservedField1"/>
        <result column="RESERVED_FIELD2" jdbcType="VARCHAR" property="reservedField2"/>
        <result column="RESERVED_FIELD3" jdbcType="VARCHAR" property="reservedField3"/>
        <result column="RESERVED_FIELD5" jdbcType="VARCHAR" property="reservedField5"/>
        <result column="RESERVED_FIELD6" jdbcType="VARCHAR" property="reservedField6"/>
        <result column="RESERVED_FIELD7" jdbcType="VARCHAR" property="reservedField7"/>
        <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="NOT_EXPIRED" jdbcType="VARCHAR" property="notExpired"/>
        <result column="ACCOUNT_NOT_LOCKED" jdbcType="VARCHAR" property="accountNotLocked"/>
        <result column="CREDENTIALS_NOT_EXPIRED" jdbcType="VARCHAR" property="credentialsNotExpired"/>

    </resultMap>
    <sql id="Base_Column_List">
    USER_ID, USER_NAME, USER_PASS, ROLE_ID, MOBILE_NO,ORG, IS_AVAILABLE, INIT_PASS, ERROR_NUM,
    PASS_STATUS, LAST_PASS_UPDATE_TIME, RESERVED_FIELD4, CREATE_BY, CREATE_TIME, UPDATE_TIME,
    UPDATE_BY, RESERVED_FIELD1, RESERVED_FIELD2, RESERVED_FIELD3, RESERVED_FIELD5, RESERVED_FIELD6,
    RESERVED_FIELD7, LAST_LOGIN_TIME, NOT_EXPIRED, ACCOUNT_NOT_LOCKED, CREDENTIALS_NOT_EXPIRED
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_USER
        where USER_ID = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectByUserNameAndBank" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_USER
        where USER_NAME = #{userName,jdbcType=VARCHAR} and ORG = #{org,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_USER
        where USER_NAME = #{userName,jdbcType=VARCHAR}
    </select>


    <select id="pageSelectUsers" parameterType="com.allinfinance.dev.ccs.dal.paramvo.UserReqParam"
            resultMap="BaseResultMap">
        select
        USER_ID, USER_NAME, USER_PASS, ur.ROLE_ID, MOBILE_NO ,ur.ORG, ur.IS_AVAILABLE, INIT_PASS, ERROR_NUM,
        PASS_STATUS,
        LAST_PASS_UPDATE_TIME, RESERVED_FIELD4, ur.CREATE_BY, ur.CREATE_TIME, ur.UPDATE_TIME, ur.UPDATE_BY,
        ur.RESERVED_FIELD1,
        ur.RESERVED_FIELD2, ur.RESERVED_FIELD3, RESERVED_FIELD5, RESERVED_FIELD6, RESERVED_FIELD7,
        LAST_LOGIN_TIME, NOT_EXPIRED, ACCOUNT_NOT_LOCKED, CREDENTIALS_NOT_EXPIRED
        from TBL_USER ur
        left join TBL_ROLE ro on ur.ROLE_ID=ro.ROLE_ID
        where 1=1
        AND (CAST(ro.WEIGHT AS bigint) &lt; (SELECT CAST(re.WEIGHT AS bigint) FROM tbl_role re, tbl_user ur WHERE
        re.role_id = ur.role_id AND user_id=#{userReqParam.userId}))
        <if test="userReqParam!=null">
            <if test="userReqParam.userName!=null and userReqParam.userName!='' ">
                and user_Name like '%${userReqParam.userName}%'
            </if>
            <if test="userReqParam.roleId!=null">
                and ur.role_Id = #{userReqParam.roleId}
            </if>
            <if test="userReqParam.org!=null">
                and ur.org = #{userReqParam.org}
            </if>
            <if test="userReqParam.isAvailable!=null">
                and ur.IS_AVAILABLE = #{userReqParam.isAvailable}
            </if>
        </if>
    </select>

    <!--  <select id="selectSequenceId"  resultMap="java.lang.String">-->
    <!--    -->
    <!--  </select>-->
    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
    update TBL_USER
    SET
      IS_AVAILABLE = 'N'
    WHERE
      USER_ID = #{userId,jdbcType=INTEGER}
  </update>
    <insert id="insert" parameterType="com.allinfinance.dev.ccs.dal.model.TblUser">
    insert into TBL_USER (USER_ID, USER_NAME, USER_PASS,
                          ROLE_ID,MOBILE_NO, ORG, IS_AVAILABLE,
                          INIT_PASS, ERROR_NUM, PASS_STATUS,
                          LAST_PASS_UPDATE_TIME, RESERVED_FIELD4, CREATE_BY,
                          CREATE_TIME, UPDATE_TIME, UPDATE_BY,
                          RESERVED_FIELD1, RESERVED_FIELD2, RESERVED_FIELD3,
                          RESERVED_FIELD5, RESERVED_FIELD6, RESERVED_FIELD7,
                          LAST_LOGIN_TIME, NOT_EXPIRED, ACCOUNT_NOT_LOCKED,
                          CREDENTIALS_NOT_EXPIRED
    )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPass,jdbcType=VARCHAR},
            #{roleId,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR},#{org,jdbcType=VARCHAR}, #{isAvailable,jdbcType=VARCHAR},
            #{initPass,jdbcType=VARCHAR}, #{errorNum,jdbcType=VARCHAR}, #{passStatus,jdbcType=VARCHAR},
            #{lastPassUpdateTime,jdbcType=TIMESTAMP}, #{reservedField4,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
            #{reservedField1,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, #{reservedField3,jdbcType=VARCHAR},
            #{reservedField5,jdbcType=VARCHAR}, #{reservedField6,jdbcType=VARCHAR}, #{reservedField7,jdbcType=VARCHAR},
            #{lastLoginTime,jdbcType=TIMESTAMP}, #{notExpired,jdbcType=VARCHAR}, #{accountNotLocked,jdbcType=VARCHAR},
            #{credentialsNotExpired,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblUser">
        <selectKey resultType="java.lang.String" keyProperty="userId" order="BEFORE">
            SELECT
            sequence_id.nextval
            FROM sysibm.sysdummy1
        </selectKey>
        insert into TBL_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="userPass != null">
                USER_PASS,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="mobileNo != null">
                MOBILE_NO,
            </if>
            <if test="org != null">
                ORG,
            </if>
            <if test="isAvailable != null">
                IS_AVAILABLE,
            </if>
            <if test="initPass != null">
                INIT_PASS,
            </if>
            <if test="errorNum != null">
                ERROR_NUM,
            </if>
            <if test="passStatus != null">
                PASS_STATUS,
            </if>
            <if test="lastPassUpdateTime != null">
                LAST_PASS_UPDATE_TIME,
            </if>
            <if test="reservedField4 != null">
                RESERVED_FIELD4,
            </if>
            <if test="createBy != null">
                CREATE_BY,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="updateBy != null">
                UPDATE_BY,
            </if>
            <if test="reservedField1 != null">
                RESERVED_FIELD1,
            </if>
            <if test="reservedField2 != null">
                RESERVED_FIELD2,
            </if>
            <if test="reservedField3 != null">
                RESERVED_FIELD3,
            </if>
            <if test="reservedField5 != null">
                RESERVED_FIELD5,
            </if>
            <if test="reservedField6 != null">
                RESERVED_FIELD6,
            </if>
            <if test="reservedField7 != null">
                RESERVED_FIELD7,
            </if>
            <if test="lastLoginTime != null">
                LAST_LOGIN_TIME,
            </if>
            <if test="notExpired != null">
                NOT_EXPIRED,
            </if>
            <if test="accountNotLocked != null">
                ACCOUNT_NOT_LOCKED,
            </if>
            <if test="credentialsNotExpired != null">
                CREDENTIALS_NOT_EXPIRED,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPass != null">
                #{userPass,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="mobileNo != null">
                #{mobileNo,jdbcType=VARCHAR},
            </if>
            <if test="org != null">
                #{org,jdbcType=VARCHAR},
            </if>
            <if test="isAvailable != null">
                #{isAvailable,jdbcType=VARCHAR},
            </if>
            <if test="initPass != null">
                #{initPass,jdbcType=VARCHAR},
            </if>
            <if test="errorNum != null">
                #{errorNum,jdbcType=VARCHAR},
            </if>
            <if test="passStatus != null">
                #{passStatus,jdbcType=VARCHAR},
            </if>
            <if test="lastPassUpdateTime != null">
                #{lastPassUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reservedField4 != null">
                #{reservedField4,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="reservedField1 != null">
                #{reservedField1,jdbcType=VARCHAR},
            </if>
            <if test="reservedField2 != null">
                #{reservedField2,jdbcType=VARCHAR},
            </if>
            <if test="reservedField3 != null">
                #{reservedField3,jdbcType=VARCHAR},
            </if>
            <if test="reservedField5 != null">
                #{reservedField5,jdbcType=VARCHAR},
            </if>
            <if test="reservedField6 != null">
                #{reservedField6,jdbcType=VARCHAR},
            </if>
            <if test="reservedField7 != null">
                #{reservedField7,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="notExpired != null">
                #{notExpired,jdbcType=VARCHAR},
            </if>
            <if test="accountNotLocked != null">
                #{accountNotLocked,jdbcType=VARCHAR},
            </if>
            <if test="credentialsNotExpired != null">
                #{credentialsNotExpired,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblUser">
        update TBL_USER
        <set>
            <if test="record.userId != null and record.userId != ''">
                USER_ID = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.userName != null and record.userName != ''">
                USER_NAME = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.userPass != null and record.userPass != ''">
                USER_PASS = #{record.userPass,jdbcType=VARCHAR},
            </if>
            <if test="record.roleId != null and record.roleId != ''">
                ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
            </if>
            <if test="record.mobileNo != null and record.mobileNo != ''">
                ROLE_ID = #{record.mobileNo,jdbcType=VARCHAR},
            </if>
            <if test="record.org != null and record.org != ''">
                ORG = #{record.org,jdbcType=VARCHAR},
            </if>
            <if test="record.isAvailable != null and record.isAvailable != ''">
                IS_AVAILABLE = #{record.isAvailable,jdbcType=VARCHAR},
            </if>
            <if test="record.initPass != null">
                INIT_PASS = #{record.initPass,jdbcType=VARCHAR},
            </if>
            <if test="record.errorNum != null">
                ERROR_NUM = #{record.errorNum,jdbcType=VARCHAR},
            </if>
            <if test="record.passStatus != null">
                PASS_STATUS = #{record.passStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.lastPassUpdateTime != null">
                LAST_PASS_UPDATE_TIME = #{record.lastPassUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.reservedField4 != null">
                RESERVED_FIELD4 = #{record.reservedField4,jdbcType=VARCHAR},
            </if>
            <if test="record.createBy != null">
                CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateBy != null">
                UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
            </if>
            <if test="record.reservedField1 != null ">
                RESERVED_FIELD1 = #{record.reservedField1,jdbcType=VARCHAR},
            </if>
            <if test="record.reservedField2 != null">
                RESERVED_FIELD2 = #{record.reservedField2,jdbcType=VARCHAR},
            </if>
            <if test="record.reservedField3 != null">
                RESERVED_FIELD3 = #{record.reservedField3,jdbcType=VARCHAR},
            </if>
            <if test="record.reservedField5 != null">
                RESERVED_FIELD5 = #{record.reservedField5,jdbcType=VARCHAR},
            </if>
            <if test="record.reservedField6 != null">
                RESERVED_FIELD6 = #{record.reservedField6,jdbcType=VARCHAR},
            </if>
            <if test="record.reservedField7 != null">
                RESERVED_FIELD7 = #{record.reservedField7,jdbcType=VARCHAR},
            </if>
            <if test="record.lastLoginTime != null">
                LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.notExpired != null">
                NOT_EXPIRED = #{record.notExpired,jdbcType=VARCHAR},
            </if>
            <if test="record.accountNotLocked != null">
                ACCOUNT_NOT_LOCKED = #{record.accountNotLocked,jdbcType=VARCHAR},
            </if>
            <if test="record.credentialsNotExpired != null">
                CREDENTIALS_NOT_EXPIRED = #{record.credentialsNotExpired,jdbcType=VARCHAR},
            </if>
        </set>
        where USER_ID = #{record.userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByExample" parameterType="map">
    update TBL_USER
    set USER_ID = #{record.userId,jdbcType=VARCHAR},
    USER_NAME = #{record.userName,jdbcType=VARCHAR},
    USER_PASS = #{record.userPass,jdbcType=VARCHAR},
    ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
    MOBILE_NO = #{record.mobileNo,jdbcType=VARCHAR},
    ORG = #{record.org,jdbcType=VARCHAR},
    IS_AVAILABLE = #{record.isAvailable,jdbcType=VARCHAR},
    INIT_PASS = #{record.initPass,jdbcType=VARCHAR},
    ERROR_NUM = #{record.errorNum,jdbcType=VARCHAR},
    PASS_STATUS = #{record.passStatus,jdbcType=VARCHAR},
    LAST_PASS_UPDATE_TIME = #{record.lastPassUpdateTime,jdbcType=TIMESTAMP},
    RESERVED_FIELD4 = #{record.reservedField4,jdbcType=VARCHAR},
    CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
    CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
    UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
    UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
    RESERVED_FIELD1 = #{record.reservedField1,jdbcType=VARCHAR},
    RESERVED_FIELD2 = #{record.reservedField2,jdbcType=VARCHAR},
    RESERVED_FIELD3 = #{record.reservedField3,jdbcType=VARCHAR},
    RESERVED_FIELD5 = #{record.reservedField5,jdbcType=VARCHAR},
    RESERVED_FIELD6 = #{record.reservedField6,jdbcType=VARCHAR},
    RESERVED_FIELD7 = #{record.reservedField7,jdbcType=VARCHAR},
    LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=TIMESTAMP},
    NOT_EXPIRED = #{record.notExpired,jdbcType=VARCHAR},
    ACCOUNT_NOT_LOCKED = #{record.accountNotLocked,jdbcType=VARCHAR},
    CREDENTIALS_NOT_EXPIRED = #{record.credentialsNotExpired,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.allinfinance.dev.ccs.dal.model.TblUser">
    update TBL_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
        USER_PASS = #{userPass,jdbcType=VARCHAR},
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
        MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
        ORG = #{org,jdbcType=VARCHAR},
        IS_AVAILABLE = #{isAvailable,jdbcType=VARCHAR},
        INIT_PASS = #{initPass,jdbcType=VARCHAR},
        ERROR_NUM = #{errorNum,jdbcType=VARCHAR},
        PASS_STATUS = #{passStatus,jdbcType=VARCHAR},
        LAST_PASS_UPDATE_TIME = #{lastPassUpdateTime,jdbcType=TIMESTAMP},
        RESERVED_FIELD4 = #{reservedField4,jdbcType=VARCHAR},
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
        RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
        RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
        RESERVED_FIELD3 = #{reservedField3,jdbcType=VARCHAR},
        RESERVED_FIELD5 = #{reservedField5,jdbcType=VARCHAR},
        RESERVED_FIELD6 = #{reservedField6,jdbcType=VARCHAR},
        RESERVED_FIELD7 = #{reservedField7,jdbcType=VARCHAR},
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
        NOT_EXPIRED = #{notExpired,jdbcType=VARCHAR},
        ACCOUNT_NOT_LOCKED = #{accountNotLocked,jdbcType=VARCHAR},
        CREDENTIALS_NOT_EXPIRED = #{credentialsNotExpired,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
    <!--自定义SQl-->
    <select id="selectByNameAndOrg" parameterType="com.allinfinance.dev.ccs.dal.paramvo.UserReqParam"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_USER
        where 1=1
        <if test="userReqParam!=null">
            <if test="userReqParam.userName!=null and userReqParam.userName!='' ">
                and user_Name = #{userReqParam.userName}
            </if>
            <if test="userReqParam.org!=null">
                and org = #{userReqParam.org}
            </if>
        </if>
    </select>

    <!--根据roleIds查询用户-->
    <select id="selectUsersByRoleIds"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_USER
        where 1=1
        AND IS_AVAILABLE = 'Y'
        AND ROLE_ID in
        <foreach collection="roleIds" item="roleId" index="index"
                 open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>
</mapper>