<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinfinance.dev.ccs.dal.mapper.TblUserErrorLogMapper">
  <resultMap id="BaseResultMap" type="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    <constructor>
      <idArg column="EXC_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="EXC_REQU_PARAM" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EXC_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EXC_MESSAGE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OPER_USER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OPER_USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OPER_METHOD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OPER_URI" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OPER_IP" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OPER_CREATE_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="RESERVED_FIELD1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="RESERVED_FIELD2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="RESERVED_FIELD3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORG" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EXC_ID, EXC_REQU_PARAM, EXC_NAME, EXC_MESSAGE, OPER_USER_ID, OPER_USER_NAME, OPER_METHOD, 
    OPER_URI, OPER_IP, OPER_CREATE_TIME, RESERVED_FIELD1, RESERVED_FIELD2, RESERVED_FIELD3, 
    ORG
  </sql>
  <select id="selectByExample" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_user_error_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_user_error_log
    where EXC_ID = #{excId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_user_error_log
    where EXC_ID = #{excId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLogExample">
    delete from tbl_user_error_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    insert into tbl_user_error_log (EXC_ID, EXC_REQU_PARAM, EXC_NAME, 
      EXC_MESSAGE, OPER_USER_ID, OPER_USER_NAME, 
      OPER_METHOD, OPER_URI, OPER_IP, 
      OPER_CREATE_TIME, RESERVED_FIELD1, RESERVED_FIELD2, 
      RESERVED_FIELD3, ORG)
    values (#{excId,jdbcType=INTEGER}, #{excRequParam,jdbcType=VARCHAR}, #{excName,jdbcType=VARCHAR}, 
      #{excMessage,jdbcType=VARCHAR}, #{operUserId,jdbcType=VARCHAR}, #{operUserName,jdbcType=VARCHAR}, 
      #{operMethod,jdbcType=VARCHAR}, #{operUri,jdbcType=VARCHAR}, #{operIp,jdbcType=VARCHAR}, 
      #{operCreateTime,jdbcType=DATE}, #{reservedField1,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, 
      #{reservedField3,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    insert into tbl_user_error_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="excId != null">
        EXC_ID,
      </if>
      <if test="excRequParam != null">
        EXC_REQU_PARAM,
      </if>
      <if test="excName != null">
        EXC_NAME,
      </if>
      <if test="excMessage != null">
        EXC_MESSAGE,
      </if>
      <if test="operUserId != null">
        OPER_USER_ID,
      </if>
      <if test="operUserName != null">
        OPER_USER_NAME,
      </if>
      <if test="operMethod != null">
        OPER_METHOD,
      </if>
      <if test="operUri != null">
        OPER_URI,
      </if>
      <if test="operIp != null">
        OPER_IP,
      </if>
      <if test="operCreateTime != null">
        OPER_CREATE_TIME,
      </if>
      <if test="reservedField1 != null">
        RESERVED_FIELD1,
      </if>
      <if test="reservedField2 != null">
        RESERVED_FIELD2,
      </if>
      <if test="reservedField3 != null">
        RESERVED_FIELD3,
      </if>
      <if test="org != null">
        ORG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="excId != null">
        #{excId,jdbcType=INTEGER},
      </if>
      <if test="excRequParam != null">
        #{excRequParam,jdbcType=VARCHAR},
      </if>
      <if test="excName != null">
        #{excName,jdbcType=VARCHAR},
      </if>
      <if test="excMessage != null">
        #{excMessage,jdbcType=VARCHAR},
      </if>
      <if test="operUserId != null">
        #{operUserId,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null">
        #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operMethod != null">
        #{operMethod,jdbcType=VARCHAR},
      </if>
      <if test="operUri != null">
        #{operUri,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operCreateTime != null">
        #{operCreateTime,jdbcType=DATE},
      </if>
      <if test="reservedField1 != null">
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null">
        #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null">
        #{reservedField3,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        #{org,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLogExample" resultType="java.lang.Long">
    select count(*) from tbl_user_error_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_user_error_log
    <set>
      <if test="record.excId != null">
        EXC_ID = #{record.excId,jdbcType=INTEGER},
      </if>
      <if test="record.excRequParam != null">
        EXC_REQU_PARAM = #{record.excRequParam,jdbcType=VARCHAR},
      </if>
      <if test="record.excName != null">
        EXC_NAME = #{record.excName,jdbcType=VARCHAR},
      </if>
      <if test="record.excMessage != null">
        EXC_MESSAGE = #{record.excMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserId != null">
        OPER_USER_ID = #{record.operUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserName != null">
        OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.operMethod != null">
        OPER_METHOD = #{record.operMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.operUri != null">
        OPER_URI = #{record.operUri,jdbcType=VARCHAR},
      </if>
      <if test="record.operIp != null">
        OPER_IP = #{record.operIp,jdbcType=VARCHAR},
      </if>
      <if test="record.operCreateTime != null">
        OPER_CREATE_TIME = #{record.operCreateTime,jdbcType=DATE},
      </if>
      <if test="record.reservedField1 != null">
        RESERVED_FIELD1 = #{record.reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedField2 != null">
        RESERVED_FIELD2 = #{record.reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedField3 != null">
        RESERVED_FIELD3 = #{record.reservedField3,jdbcType=VARCHAR},
      </if>
      <if test="record.org != null">
        ORG = #{record.org,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_user_error_log
    set EXC_ID = #{record.excId,jdbcType=INTEGER},
      EXC_REQU_PARAM = #{record.excRequParam,jdbcType=VARCHAR},
      EXC_NAME = #{record.excName,jdbcType=VARCHAR},
      EXC_MESSAGE = #{record.excMessage,jdbcType=VARCHAR},
      OPER_USER_ID = #{record.operUserId,jdbcType=VARCHAR},
      OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      OPER_METHOD = #{record.operMethod,jdbcType=VARCHAR},
      OPER_URI = #{record.operUri,jdbcType=VARCHAR},
      OPER_IP = #{record.operIp,jdbcType=VARCHAR},
      OPER_CREATE_TIME = #{record.operCreateTime,jdbcType=DATE},
      RESERVED_FIELD1 = #{record.reservedField1,jdbcType=VARCHAR},
      RESERVED_FIELD2 = #{record.reservedField2,jdbcType=VARCHAR},
      RESERVED_FIELD3 = #{record.reservedField3,jdbcType=VARCHAR},
      ORG = #{record.org,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    update tbl_user_error_log
    <set>
      <if test="excRequParam != null">
        EXC_REQU_PARAM = #{excRequParam,jdbcType=VARCHAR},
      </if>
      <if test="excName != null">
        EXC_NAME = #{excName,jdbcType=VARCHAR},
      </if>
      <if test="excMessage != null">
        EXC_MESSAGE = #{excMessage,jdbcType=VARCHAR},
      </if>
      <if test="operUserId != null">
        OPER_USER_ID = #{operUserId,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null">
        OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operMethod != null">
        OPER_METHOD = #{operMethod,jdbcType=VARCHAR},
      </if>
      <if test="operUri != null">
        OPER_URI = #{operUri,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        OPER_IP = #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operCreateTime != null">
        OPER_CREATE_TIME = #{operCreateTime,jdbcType=DATE},
      </if>
      <if test="reservedField1 != null">
        RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null">
        RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null">
        RESERVED_FIELD3 = #{reservedField3,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        ORG = #{org,jdbcType=VARCHAR},
      </if>
    </set>
    where EXC_ID = #{excId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    update tbl_user_error_log
    set EXC_REQU_PARAM = #{excRequParam,jdbcType=VARCHAR},
      EXC_NAME = #{excName,jdbcType=VARCHAR},
      EXC_MESSAGE = #{excMessage,jdbcType=VARCHAR},
      OPER_USER_ID = #{operUserId,jdbcType=VARCHAR},
      OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      OPER_METHOD = #{operMethod,jdbcType=VARCHAR},
      OPER_URI = #{operUri,jdbcType=VARCHAR},
      OPER_IP = #{operIp,jdbcType=VARCHAR},
      OPER_CREATE_TIME = #{operCreateTime,jdbcType=DATE},
      RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
      RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      RESERVED_FIELD3 = #{reservedField3,jdbcType=VARCHAR},
      ORG = #{org,jdbcType=VARCHAR}
    where EXC_ID = #{excId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    <id column="EXC_ID" jdbcType="VARCHAR" property="excId" />
    <result column="EXC_REQU_PARAM" jdbcType="VARCHAR" property="excRequParam" />
    <result column="EXC_NAME" jdbcType="VARCHAR" property="excName" />
    <result column="EXC_MESSAGE" jdbcType="VARCHAR" property="excMessage" />
    <result column="OPER_USER_ID" jdbcType="VARCHAR" property="operUserId" />
    <result column="OPER_USER_NAME" jdbcType="VARCHAR" property="operUserName" />
    <result column="OPER_METHOD" jdbcType="VARCHAR" property="operMethod" />
    <result column="OPER_URI" jdbcType="VARCHAR" property="operUri" />
    <result column="OPER_IP" jdbcType="VARCHAR" property="operIp" />
    <result column="OPER_CREATE_TIME" jdbcType="DATE" property="operCreateTime" />
    <result column="RESERVED_FIELD1" jdbcType="VARCHAR" property="reservedField1" />
    <result column="RESERVED_FIELD2" jdbcType="VARCHAR" property="reservedField2" />
    <result column="RESERVED_FIELD3" jdbcType="VARCHAR" property="reservedField3" />
    <result column="ORG" jdbcType="VARCHAR" property="org" />
  </resultMap>
  <sql id="Base_Column_List">
    EXC_ID, EXC_REQU_PARAM, EXC_NAME, EXC_MESSAGE, OPER_USER_ID, OPER_USER_NAME, OPER_METHOD, 
    OPER_URI, OPER_IP, OPER_CREATE_TIME, RESERVED_FIELD1, RESERVED_FIELD2, RESERVED_FIELD3, 
    ORG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_USER_ERROR_LOG
    where EXC_ID = #{excId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TBL_USER_ERROR_LOG
    where EXC_ID = #{excId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    insert into TBL_USER_ERROR_LOG (EXC_ID, EXC_REQU_PARAM, EXC_NAME, 
      EXC_MESSAGE, OPER_USER_ID, OPER_USER_NAME, 
      OPER_METHOD, OPER_URI, OPER_IP, 
      OPER_CREATE_TIME, RESERVED_FIELD1, RESERVED_FIELD2, 
      RESERVED_FIELD3, ORG)
    values (#{excId,jdbcType=VARCHAR}, #{excRequParam,jdbcType=VARCHAR}, #{excName,jdbcType=VARCHAR}, 
      #{excMessage,jdbcType=VARCHAR}, #{operUserId,jdbcType=VARCHAR}, #{operUserName,jdbcType=VARCHAR}, 
      #{operMethod,jdbcType=VARCHAR}, #{operUri,jdbcType=VARCHAR}, #{operIp,jdbcType=VARCHAR}, 
      #{operCreateTime,jdbcType=DATE}, #{reservedField1,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, 
      #{reservedField3,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    insert into TBL_USER_ERROR_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="excId != null">
        EXC_ID,
      </if>
      <if test="excRequParam != null">
        EXC_REQU_PARAM,
      </if>
      <if test="excName != null">
        EXC_NAME,
      </if>
      <if test="excMessage != null">
        EXC_MESSAGE,
      </if>
      <if test="operUserId != null">
        OPER_USER_ID,
      </if>
      <if test="operUserName != null">
        OPER_USER_NAME,
      </if>
      <if test="operMethod != null">
        OPER_METHOD,
      </if>
      <if test="operUri != null">
        OPER_URI,
      </if>
      <if test="operIp != null">
        OPER_IP,
      </if>
      <if test="operCreateTime != null">
        OPER_CREATE_TIME,
      </if>
      <if test="reservedField1 != null">
        RESERVED_FIELD1,
      </if>
      <if test="reservedField2 != null">
        RESERVED_FIELD2,
      </if>
      <if test="reservedField3 != null">
        RESERVED_FIELD3,
      </if>
      <if test="org != null">
        ORG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="excId != null">
        #{excId,jdbcType=VARCHAR},
      </if>
      <if test="excRequParam != null">
        #{excRequParam,jdbcType=VARCHAR},
      </if>
      <if test="excName != null">
        #{excName,jdbcType=VARCHAR},
      </if>
      <if test="excMessage != null">
        #{excMessage,jdbcType=VARCHAR},
      </if>
      <if test="operUserId != null">
        #{operUserId,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null">
        #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operMethod != null">
        #{operMethod,jdbcType=VARCHAR},
      </if>
      <if test="operUri != null">
        #{operUri,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operCreateTime != null">
        #{operCreateTime,jdbcType=DATE},
      </if>
      <if test="reservedField1 != null">
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null">
        #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null">
        #{reservedField3,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        #{org,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    update TBL_USER_ERROR_LOG
    <set>
      <if test="excRequParam != null">
        EXC_REQU_PARAM = #{excRequParam,jdbcType=VARCHAR},
      </if>
      <if test="excName != null">
        EXC_NAME = #{excName,jdbcType=VARCHAR},
      </if>
      <if test="excMessage != null">
        EXC_MESSAGE = #{excMessage,jdbcType=VARCHAR},
      </if>
      <if test="operUserId != null">
        OPER_USER_ID = #{operUserId,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null">
        OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operMethod != null">
        OPER_METHOD = #{operMethod,jdbcType=VARCHAR},
      </if>
      <if test="operUri != null">
        OPER_URI = #{operUri,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        OPER_IP = #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operCreateTime != null">
        OPER_CREATE_TIME = #{operCreateTime,jdbcType=DATE},
      </if>
      <if test="reservedField1 != null">
        RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null">
        RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null">
        RESERVED_FIELD3 = #{reservedField3,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        ORG = #{org,jdbcType=VARCHAR},
      </if>
    </set>
    where EXC_ID = #{excId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.allinfinance.dev.ccs.dal.model.TblUserErrorLog">
    update TBL_USER_ERROR_LOG
    set EXC_REQU_PARAM = #{excRequParam,jdbcType=VARCHAR},
      EXC_NAME = #{excName,jdbcType=VARCHAR},
      EXC_MESSAGE = #{excMessage,jdbcType=VARCHAR},
      OPER_USER_ID = #{operUserId,jdbcType=VARCHAR},
      OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      OPER_METHOD = #{operMethod,jdbcType=VARCHAR},
      OPER_URI = #{operUri,jdbcType=VARCHAR},
      OPER_IP = #{operIp,jdbcType=VARCHAR},
      OPER_CREATE_TIME = #{operCreateTime,jdbcType=DATE},
      RESERVED_FIELD1 = #{reservedField1,jdbcType=VARCHAR},
      RESERVED_FIELD2 = #{reservedField2,jdbcType=VARCHAR},
      RESERVED_FIELD3 = #{reservedField3,jdbcType=VARCHAR},
      ORG = #{org,jdbcType=VARCHAR}
    where EXC_ID = #{excId,jdbcType=VARCHAR}
  </update>
</mapper>